{% extends 'base.html.twig' %}

{% block menu %}
<ul class="nav-pills">
    <li><a href="{{ path('admin_appartment') }}">Appartement</a></li>
    <li><a href="{{ path('admin_tent', {'season': 'hoogseizoen'}) }}">Kampeerplaats (hoog)</a></li>
    <li><a href="{{ path('admin_tent', {'season': 'laagseizoen'}) }}">Kampeerplaats (laag)</a></li>
    <li><a href="{{ path('admin_caravan', {'season': 'hoogseizoen'}) }}">Stacaravan (hoog)</a></li>
    <li><a href="{{ path('admin_caravan', {'season': 'laagseizoen'}) }}">Stacaravan (laag)</a></li>
</ul>
{% endblock menu %}

{% block welcome %}

{% endblock welcome %}

{% block content %}
    <div class="container content">
    <h2>{{ title }}</h2>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock content %}