<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/westhove.jpg');"></div>

<div class="container content" id="fotos">

    <h2>Foto&#039;s op en rond Minicamping Shalom</h2>
    <h2 class="mobile-header hidden-md hidden-lg">Foto&#039;s op en rond Minicamping Shalom</h2>
    <div class="content thumbnail-list main-album">
        <a href="/images/albums/omgeving_1jpg.jpg" title="Lekker spelen op de camping">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_1jpg-120x120.jpg"
                 width="120" height="120" alt="Lekker spelen op de camping">
        </a>
        <a href="/images/albums/omgeving_2jpg.jpg" title="Tuinmeubels bij stacaravans">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_2jpg-120x120.jpg"
                 width="120" height="120" alt="Tuinmeubels bij stacaravans">
        </a>
        <a href="/images/albums/omgeving_3jpg.jpg" title="Speeltoestel">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_3jpg-120x120.jpg"
                 width="120" height="120" alt="Speeltoestel">
        </a>
        <a href="/images/albums/omgeving_4jpg.jpg" title="Overzicht camping">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_4jpg-120x120.jpg"
                 width="120" height="120" alt="Overzicht camping">
        </a>
        <a href="/images/albums/omgeving_5jpg.jpg" title="Camperplek">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_5jpg-120x120.jpg"
                 width="120" height="120" alt="Camperplek">
        </a>
        <a href="/images/albums/omgeving_6jpg.jpg" title="Skelter">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_6jpg-120x120.jpg"
                 width="120" height="120" alt="Skelter">
        </a>
        <a href="/images/albums/omgeving_7jpg.jpg" title="Schommelen en trampoline">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_7jpg-120x120.jpg"
                 width="120" height="120" alt="Schommelen en trampoline">
        </a>
        <a href="/images/albums/omgeving_8jpg.jpg" title="Voetbalveld">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_8jpg-120x120.jpg"
                 width="120" height="120" alt="Voetbalveld">
        </a>
        <a href="/images/albums/omgeving_9jpg.jpg" title="Kasteel Westhove">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_9jpg-120x120.jpg"
                 width="120" height="120" alt="Kasteel Westhove">
        </a>
        <a href="/images/albums/omgeving_10jpg.jpg" title="Herten in de Manteling">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_10jpg-120x120.jpg"
                 width="120" height="120" alt="Herten in de Manteling">
        </a>
        <a href="/images/albums/omgeving_11jpg.jpg" title="Het strand van Oostkapelle">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_11jpg-120x120.jpg"
                 width="120" height="120" alt="Het strand van Oostkapelle">
        </a>
        <a href="/images/albums/omgeving_12jpg.jpg" title="Het strand van Oostkapelle">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_12jpg-120x120.jpg"
                 width="120" height="120" alt="Het strand van Oostkapelle">
        </a>
        <a href="/images/albums/omgeving_13jpg.jpg" title="Strandovergang">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_13jpg-120x120.jpg"
                 width="120" height="120" alt="Strandovergang">
        </a>
        <a href="/images/albums/omgeving_14jpg.jpg" title="Centrum van Oostkapelle">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_14jpg-120x120.jpg"
                 width="120" height="120" alt="Centrum van Oostkapelle">
        </a>
        <a href="/images/albums/omgeving_15jpg.jpg" title="Westhove vanuit de lucht">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_15jpg-120x120.jpg"
                 width="120" height="120" alt="Westhove vanuit de lucht">
        </a>
        <a href="/images/albums/omgeving_16jpg.jpg" title="Paalhoofden">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_16jpg-120x120.jpg"
                 width="120" height="120" alt="Paalhoofden">
        </a>
        <a href="/images/albums/omgeving_17jpg.jpg" title="Paalhoofden">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_17jpg-120x120.jpg"
                 width="120" height="120" alt="Paalhoofden">
        </a>
        <a href="/images/albums/omgeving_18jpg.jpg" title="Oranjezon">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_18jpg-120x120.jpg"
                 width="120" height="120" alt="Oranjezon">
        </a>
        <a href="/images/albums/omgeving_19jpg.jpg" title="Duingebied">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/omgeving_19jpg-120x120.jpg"
                 width="120" height="120" alt="Duingebied">
        </a>
        <a href="/images/albums/watersportjpg.jpg" title="Golven">
            <img class="thumbnail-image img-rounded lazy" data-original="/images/albums/watersportjpg-120x120.jpg"
                 width="120" height="120" alt="Golven">
        </a>
    </div>
</div>

<hr>