{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'pages/apartment/menu.html.twig' %}
{% endblock menu %}

{% block welcome %}
    {% include 'pages/apartment/welcome.html.twig' %}
{% endblock welcome %}

{% block content %}
    {% include 'pages/apartment/album.html.twig' %}
    {% include 'pages/apartment/tarieven.html.twig' %}
{% endblock content %}