{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'pages/home/menu.html.twig' %}
{% endblock menu %}

{% block welcome %}
    {% include 'pages/home/welcome.html.twig' %}
{% endblock welcome %}

{% block content %}
    {% include 'pages/home/album.html.twig' %}
    {% include 'pages/home/tarieven.html.twig' %}
    {% include 'pages/home/voorzieningen.html.twig' %}
    {% include 'pages/home/apartment.html.twig' %}
    {% include 'pages/home/camper.html.twig' %}
    {% include 'pages/home/omgeving.html.twig' %}
{% endblock content %}