<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/zee.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">Actuele tarieven</h2>
            </div>
        </div>
    </div>
</div>
<div class="container content" id="tarieven">

    <h2 class="mobile-header hidden-md hidden-lg">Actuele tarieven</h2>

    <p>Alle prijzen zijn inclusief BTW.</p>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-rounded lazy" data-original="/images/hero1.jpg" height="300" alt="">

            <h3>Kampeerplaats</h3>


            <table class="prices">
                <tr>
                    <th colspan="3">Hoogseizoen</th>
                </tr>
                <tr>
                    <td>Prijs per nacht</td>
                    <td>€ 19,50</td>
                    <td>(inclusief 2 personen, staanplaats en auto)</td>
                </tr>
                <tr>
                    <td>Prijs extra persoon</td>
                    <td>€ 3,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs extra tent</td>
                    <td>€ 1,50</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs elektriciteit</td>
                    <td>€ 2,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs extra auto</td>
                    <td>€ 2,50</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Toeristenbelasting</td>
                    <td>€ 1,25</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs huisdier</td>
                    <td>€ 2,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs bezoeker</td>
                    <td>€ 2,50</td>
                    <td>(per dag)</td>
                </tr>
                <tr>
                    <th colspan="3">Laagseizoen</th>
                </tr>
                <tr>
                    <td>Prijs per nacht</td>
                    <td>€ 15,00</td>
                    <td>(inclusief 2 personen, staanplaats en auto)</td>
                </tr>
                <tr>
                    <td>Prijs extra persoon</td>
                    <td>€ 3,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs extra tent</td>
                    <td>€ 1,50</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs elektriciteit</td>
                    <td>€ 2,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs extra auto</td>
                    <td>€ 2,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Toeristenbelasting</td>
                    <td>€ 1,25</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs huisdier</td>
                    <td>€ 2,00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs bezoeker</td>
                    <td>€ 2,50</td>
                    <td>(per dag)</td>
                </tr>
            </table>

        </div>
        <div class="col-sm-6">
            <img class="img-responsive img-rounded lazy" data-original="/images/hero3.jpg" height="300" alt="">

            <h3>Stacaravan</h3>

            <table class="prices">
                <tr>
                    <th colspan="3">Hoogseizoen</th>
                </tr>
                <tr>
                    <td>Huuprijs</td>
                    <td>€ 500,00</td>
                    <td>(per week)</td>
                </tr>
                <tr>
                    <td>Schoonmaak kosten</td>
                    <td>€ 40,00</td>
                    <td>(eenmalig)</td>
                </tr>
                <tr>
                    <td>Toeristenbelasting</td>
                    <td>€ 1,25</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs bezoeker</td>
                    <td>€ 2,50</td>
                    <td>(per dag)</td>
                </tr>
                <tr>
                    <td>Bedlinnen</td>
                    <td>€ 7,50</td>
                    <td>(per set)</td>
                </tr>
                <tr>
                    <th colspan="3">Laagseizoen</th>
                </tr>
                <tr>
                    <td>Huuprijs</td>
                    <td>€ 265,00</td>
                    <td>(per week)</td>
                </tr>
                <tr>
                    <td>Schoonmaak kosten</td>
                    <td>€ 40,00</td>
                    <td>(eenmalig)</td>
                </tr>
                <tr>
                    <td>Toeristenbelasting</td>
                    <td>€ 1,25</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Prijs bezoeker</td>
                    <td>€ 2,50</td>
                    <td>(per dag)</td>
                </tr>
                <tr>
                    <td>Bedlinnen</td>
                    <td>€ 7,50</td>
                    <td>(per set)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr>