<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('../images/paalhoofd.jpg');"></div>

<div class="container content" id="voorzieningen">
    <h2>Onze voorzieningen</h2>
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2 class="mobile-header hidden-md hidden-lg">Onze voorzieningen</h2>
            <p>Op de camping is een recreatieruimte hier kunt u gezellig zitten maar ook tafeltennis of tafelvoetbal
                spelen.<br/>Ook is er een kinderspeelplaats die bestaat uit: </p>
            <ul>
                <li>Schommels</li>
                <li>Glijbaan</li>
                <li>Trampoline<br/></li>
                <li>Picknicksetje</li>
                <li>Grote zandbak</li>
                <li>Skelter</li>
                <li>Voetbal- en volleybalveld</li>
            </ul>
            <p>We hebben <strong>een nieuwe toiletunit (2015</strong>), met babyroom. Verder is er een wasmachine,
                vriezer voor koelelementen. Ook mag u gebruik maken van ons<strong> gratis WiFi netwerk</strong>.</p>
            <p>Er zijn&nbsp; stacaravans te huur. Voor meer informatie over de tarieven van de stacaravans gaat u naar
                de tarieven pagina. </p>
            <h3>Stacaravan Florida</h3>
            Deze luxe stacaravan geeft u een heerlijk vakantiegevoel. Geheel voorzien van dubbelglas. </p>
            <p>De indeling is als volgt;</p>
            <ul>
                <li>Een ruim zitgedeelte met tv.</li>
                <li>Een ruime ingerichte keuken met koelkast, vriesvak, magnetron en oven.</li>
                <li>Badkamer met toilet.</li>
                <li>Toilet</li>
                <li>3 slaapkamers, 1 tweepersoonsbed, 2&nbsp;sl k. met&nbsp; twee eenpersoonsbedden, naast elkaar.</li>
                <li>Buiten is er een tuinset aanwezig.</li>
            </ul>
            <h3>Stacaravan ABI Hempstead</h3>
            <p>Deze luxe stacaravan is geheel voorzien van dubbelglas en centrale verwarming. De caravan is als volgt
                ingedeeld:</p>
            <ul>
                <li>Een ruim zitgedeelte met tv.</li>
                <li>Grote keuken met koelkast, vriesvak, magnetron en&nbsp; oven.</li>
                <li>Badkamer met toilet.</li>
                <li>3 slaapkamers, 1 met 2-persoonsbed, 1 met twee 1-persoonsbedden, 1 met ruim 1-persoonsbed.</li>
                <li>Buiten is er een tuinset aanwezig.</li>
            </ul>

        </div>
        <div class="col-lg-2 col-md-2 sidebar hidden-xs">
            <div class="row">
                <h3>Florida stacaravan</h3>
                <div class="container col-lg-1">
                    <div class="content thumbnail-list florida-album">
                        <a class="" href="/images/albums/florida_1jpg.jpg" title="florida-1"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_1jpg-120x120.jpg"
                                    alt="florida-1"></a>
                        <a class="hidden" href="/images/albums/florida_2jpg.jpg" title="florida-2"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_2jpg-120x120.jpg"
                                    alt="florida-2"></a>
                        <a class="hidden" href="/images/albums/florida_3jpg.jpg" title="florida-3"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_3jpg-120x120.jpg"
                                    alt="florida-3"></a>
                        <a class="hidden" href="/images/albums/florida_4jpg.jpg" title="florida-4"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_4jpg-120x120.jpg"
                                    alt="florida-4"></a>
                        <a class="hidden" href="/images/albums/florida_5jpg.jpg" title="florida-5"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_5jpg-120x120.jpg"
                                    alt="florida-5"></a>
                        <a class="hidden" href="/images/albums/florida_6jpg.jpg" title="florida-6"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/florida_6jpg-120x120.jpg"
                                    alt="florida-6"></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <h3>ABI stacaravan</h3>

                <div class="container col-lg-1">
                    <div class="content thumbnail-list abi-album">

                        <a class="" href="/images/albums/abi_stacaravan_1jpg.jpg" title="abi-stacaravan-1"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/abi_stacaravan_1jpg-120x120.jpg"
                                    alt="abi-stacaravan-1"></a>
                        <a class="hidden" href="/images/albums/abi_stacaravan_2jpg.jpg" title="abi-stacaravan-2"><img
                                    class="thumbnail-image img-rounded"
                                    data-original="/images/albums/abi_stacaravan_2jpg-120x120.jpg" alt="abi-stacaravan-2"></a>
                        <a class="hidden" href="/images/albums/abi_stacaravan_3jpg.jpg" title="abi-stacaravan-3"><img
                                    class="thumbnail-image img-rounded"
                                    data-original="/images/albums/abi_stacaravan_3jpg-120x120.jpg" alt="abi-stacaravan-3"></a>
                        <a class="hidden" href="/images/albums/abi_stacaravan_4jpg.jpg" title="abi-stacaravan-4"><img
                                    class="thumbnail-image img-rounded"
                                    data-original="/images/albums/abi_stacaravan_4jpg-120x120.jpg" alt="abi-stacaravan-4"></a>
                        <a class="hidden" href="/images/albums/abi_stacaravan_5jpg.jpg" title="abi-stacaravan-5"><img
                                    class="thumbnail-image img-rounded"
                                    data-original="/images/albums/abi_stacaravan_5jpg-120x120.jpg" alt="abi-stacaravan-5"></a>
                        <a class="hidden" href="/images/albums/abi_stacaravan_6jpg.jpg" title="abi-stacaravan-6"><img
                                    class="thumbnail-image img-rounded"
                                    data-original="/images/albums/abi_stacaravan_6jpg-120x120.jpg" alt="abi-stacaravan-6"></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <h3>Toiletgebouw</h3>
                <div class="container col-lg-1">
                    <div class="content thumbnail-list toilet-unit-album">

                        <a class="" href="/images/albums/toilet_unit_1jpg.jpg" title="Toilet unit"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_1jpg-120x120.jpg"
                                    alt="Toilet unit"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_2jpg.jpg" title="Toilet unit overdag"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_2jpg-120x120.jpg"
                                    alt="Toilet unit overdag"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_3jpg.jpg"
                           title="Toilet unit spoelgedeelte"><img class="thumbnail-image img-rounded"
                                                                  src="/images/albums/toilet_unit_3jpg-120x120.jpg"
                                                                  alt="Toilet unit spoelgedeelte"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_4jpg.jpg" title="Toilet unit babybadje"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_4jpg-120x120.jpg"
                                    alt="Toilet unit babybadje"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_5jpg.jpg" title="Toilet unit wastafel"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_5jpg-120x120.jpg"
                                    alt="Toilet unit wastafel"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_6jpg.jpg" title="Toilet unit toiletten"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_6jpg-120x120.jpg"
                                    alt="Toilet unit toiletten"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_7jpg.jpg" title="Toilet unit wastafels"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_7jpg-120x120.jpg"
                                    alt="Toilet unit wastafels"></a>

                        <a class="hidden" href="/images/albums/toilet_unit_8jpg.jpg" title="Toilet unit douche"><img
                                    class="thumbnail-image img-rounded" src="/images/albums/toilet_unit_8jpg-120x120.jpg"
                                    alt="Toilet unit douche"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<hr>