<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5" style="background-image: url('/images/appartement.jpg');"></div>

<div class="container content" id="appartement">
    <h2>Appartement</h2>
    <h2 class="mobile-header hidden-md hidden-lg">Appartement</h2>

    <p>
        <a href="/appartement" target="_self">Bekijk hier</a> alle details van ons appartement voor twee personen.
    </p>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_1.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_2.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_3.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_4.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_5.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/appartement_6.jpg" alt="Appartement detail" class="img-rounded lazy">
        </div>

    </div>

</div>

<hr>