<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5" style="background-image: url('/images/camper.jpg');"></div>

<div class="container content" id="camperplaatsen">
    <h2>Camperplaatsen</h2>
    <h2 class="mobile-header hidden-md hidden-lg">Camperplaatsen</h2>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/camper_1jpg.jpg" alt="camper-1" class="img-rounded lazy">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/camper_2jpg.jpg" alt="camper-2" class="img-rounded lazy">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 caravan-img">
            <img data-original="/images/albums/camper_3jpg.jpg" alt="camper-3" class="img-rounded lazy">
        </div>

    </div>

</div>

<hr>