<ul class="nav navbar-nav">
    <li>
        <a href="#fotos" title="Foto&#039;s">Foto&#039;s</a>
    </li>
    <li>
        <a href="#tarieven" title="Tarieven">Tarieven</a>
    </li>
    <li>
        <a href="#voorzieningen" title="Voorzieningen">Voorzieningen</a>
    </li>
    <li>
        <a href="/appartement" title="Appartement">Appartement</a>
    </li>
    <li>
        <a href="#camperplaatsen" title="Camperplaatsen">Camperplaatsen</a>
    </li>
    <li>
        <a href="#omgeving" title="Omgeving">Omgeving</a>
    </li>
    <li>
        <a href="#contact" title="Contact en route">Contact en route</a>
    </li>
</ul>