<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/luchtfoto.jpg');"></div>

<div class="container content">
    <h2>Wat is er te doen in de omgeving?</h2>
    <h2 class="mobile-header hidden-md hidden-lg" id="omgeving">Wat is er te doen in de omgeving?</h2>

    <div class="container col-lg-12 no-padding-left">
        <div class="col-lg-6 no-padding-left"><h3>Het strand</h3>
            <p>
            <ul>
                <li>Op loopafstand</li>
            </ul>
            </p>
            <h3>Natuur</h3>
            <p>
            <ul>
                <li>Op loopafstand natuurgebied de Manteling</li>
                <li>Op loopafstand de Zeeuwse kust met prachtig Noordzeestrand.</li>
                <li>Op fietsafstand duingebied Oranjezon</li>
                <li>Er zijn verschillende fiets- en wandelroutes.</li>
            </ul>
            </p>
            <h3>Evenementen</h3>
            <p>
            <ul>
                <li>Seizoensmarkt Oostkapelle(donderdag</li>
                <li>Seizoensmarkt Domburg (maandag)</li>
            </ul>
            Voor een actueel overzicht en de datum en tijd van de evenementen, <a
                    href="http://www.vvvzeeland.nl/nl/eilanden/walcheren/evenementen-oostkapelle" target="_blank">zie
                deze VVV pagina</a>.
            </p>
            <h3>Een dagje uit?</h3>
            <p>Zie de attracties hieronder.</p></div>
        <div class="col-lg-6 img-rounded" id="map-nearby"></div>
    </div>
    <hr>

    <div class="row nearby">
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/njjpg-220x150.jpg" width="220" height="150" alt="Neeltje Jans">
            <a href="http://www.neeltjejans.nl/"><h3>Neeltje Jans</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/terra_maris_buitenjpg-220x150.jpg" width="220" height="150"
                 alt="Terra Maris">
            <a href="http://nl.terramaris.nl/"><h3>Terra Maris</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/watersnood_museumjpg-220x150.jpg" width="220" height="150"
                 alt="Watersnoodmuseum">
            <a href="http://www.watersnoodmuseum.nl/"><h3>Watersnoodmuseum</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/poppendammejpg-220x150.jpg" width="220" height="150" alt="Hof Poppendamme">
            <a href="http://hofpoppendamme.nl/"><h3>Hof Poppendamme</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/watersportjpg-220x150.jpg" width="220" height="150"
                 alt="Watersporten in Zeeland">
            <a href="http://www.vvvzeeland.nl/nl/zien-en-doen/watersport/watersport/"><h3>Watersport</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/het_arsenaaljpg-220x150.jpg" width="220" height="150" alt="Het Arsenaal">
            <a href="http://www.arsenaal.com/"><h3>Het Arsenaal</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/jonge_johannesjpg-220x150.jpg" width="220" height="150"
                 alt="De Jonge Johannes">
            <a href="http://www.dejongejohannes.nl/"><h3>De Jonge Johannes</h3></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <img class="img-responsive img-responsive-150 img-rounded lazy"
                 data-original="/images/albums/meerjpg-220x150.jpg" width="220" height="150" alt="Meer in de omgeving">
            <a href="http://www.vvvzeeland.nl/nl/zien-en-doen/dagje-uit/attracties"><h3>Meer in de omgeving</h3></a>
        </div>
    </div>
</div>

<hr>
