<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/zee.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">Actuele tarieven</h2>
            </div>
        </div>
    </div>
</div>
<div class="container content" id="tarieven">

    <h2 class="mobile-header hidden-md hidden-lg">Actuele tarieven</h2>

    <p>Alle prijzen zijn inclusief BTW.</p>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-rounded lazy" data-original="/images/hero1.jpg" height="300" alt="">

            <h3>Kampeerplaats</h3>


            <table class="prices">
                <tr>
                    <th colspan="3">Hoogseizoen</th>
                </tr>

                {% for price in tentHigh %}
                    <tr>
                        <td>{{ price.title }}</td>
                        <td>{{ price.price }}</td>
                        <td>{{ price.information }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th colspan="3">Laagseizoen</th>
                </tr>

                {% for price in tentLow %}
                    <tr>
                        <td>{{ price.title }}</td>
                        <td>{{ price.price }}</td>
                        <td>{{ price.information }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>

        <div class="col-sm-6">
            <img class="img-responsive img-rounded lazy" data-original="/images/hero3.jpg" height="300" alt="">

            <h3>Stacaravan</h3>

            <table class="prices">
                <tr>
                    <th colspan="3">Hoogseizoen</th>
                </tr>

                {% for price in camperHigh %}
                    <tr>
                        <td>{{ price.title }}</td>
                        <td>{{ price.price }}</td>
                        <td>{{ price.information }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th colspan="3">Laagseizoen</th>
                </tr>

                {% for price in camperLow %}
                    <tr>
                        <td>{{ price.title }}</td>
                        <td>{{ price.price }}</td>
                        <td>{{ price.information }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="row m-t-2">
        <div class="col-sm-6">
            <img class="img-responsive img-rounded lazy" data-original="/images/hero5.jpg" width="300" alt="">

            <h3>Appartement</h3>

            <table class="prices">
                <tr>
                    <th colspan="3">Hoog- en laagseizoen</th>
                </tr>
                <tr>
                    <td colspan="3"><a href="/appartement">Hier vind je meer informatie over ons appartement.</a></td>
                </tr>
                <tr>
                    <td>Huuprijs</td>
                    <td colspan="2">Vanaf € 300.00</td>
                </tr>

            </table>
        </div>

    </div>
</div>

<hr>