
<header class="business-header hidden-xs hidden-sm">
    <div class="container tagline-container">
        <h1 class="tagline header">Minicamping SHALOM</h1>
    </div>
</header>

<div class="container content" id="welkom">

    <h1 class="mobile-header hidden-md hidden-lg">Minicamping SHALOM</h1>

    <hr>

    <div class="row head-row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero5.jpg" alt="">
            <p>Onze minicamping in Oostkapelle is een gezellige camping gelegen aan de bosrand. Het strand is lopend te bereiken, ongeveer 10 minuten lopen en dat door de prachtige 'Manteling' met bos en duinen.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero8.jpg" alt="">
            <p>Onze camping kenmerkt zich door gezelligheid waaraan vooral de campinggasten hun bijdrage  leveren.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero3.jpg" alt="">
            <p>Kindvriendelijk met diverse buiten- en binnenspeelmogelijkheden, waaronder een speeltoestel, zandbak, voetbalspel, tafeltennistafel, skelters en een grote loods waar je zomaar gezellig kunt samen zijn.</p>
        </div>
    </div>

    <hr>

</div>