body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
h1, h2, h3 {
    color: #006699;
    font-family: 'Montserrat', sans-serif;
}
.navbar .logo img {
    margin-top: 10px;
    float: right;
}
.container {
    background: none;
}
.nav>li>a {
    padding: 15px 10px 10px 10px;
}
.col-md-10 .nav>li>a {
    padding: 15px 0px 10px 10px;
}

.m-t-2 {
    margin-top: 2em;
}

.tagline-container {
    height: 500px;
    position: relative;
    float: right;
}

.tagline-container h1.tagline {
    bottom: 10px;
    right: 50px;
    position:absolute;
    font-size: 3.3em;
}
.apartment h1.tagline {
    bottom: 60px;
}

h1.mobile-header {
    font-size: 2em;
}

.business-header {
    height: 500px;
    background: url('/images/regenboog.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.business-header.apartment {
    background: url('/images/appartement-hero.jpg') center center no-repeat scroll;
    background-size: cover;
    height: 450px;
}
.hero {
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head-row img {
    margin-bottom: 15px;
}


.nearby h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

body .container.content {
    min-height: 300px;
}

.prices td, .prices th {
    padding: 2.5px 5px;
}

.prices th {
    padding-top: 15px;
}
.prices tr td {
    vertical-align: top;
}

.prices tr td:nth-child(1) {
    width: 140px;
}
.prices tr td:nth-child(2) {
    width: 130px;
}


.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #98E0FF;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline.header {
    text-shadow: 0 0 10px #5b6404, 0 0 20px #5b6404, 0 0 30px #5b6404, 0 0 40px #5b6404, 0 0 70px #5b6404, 0 0 80px #5b6404, 0 0 100px #333e08, 0 0 150px #fff;
    color: #fff;
}
.tagline {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #ff00de, 0 0 150px #fff;
}

.tagline.no-shadow {
    text-shadow: none !important;
    color: #fff;
}

.parallax-window {
    /*min-height: 300px;*/
    height: 450px;
    background-size: cover;
}

.hero .tagline {
    padding-top: 320px;
}

.img-center {
    margin: 0 auto;
}
.thumbnail-list .thumbnail-image{
    margin: 4px;

}
.apartment-album img {
    max-width: 250px;
    margin: 6px;
}

footer {
    background-color: #333;
    color:#9d9d9d;
    padding: 10px;
    width: 100%;
}
footer * {
    overflow: hidden;
}
footer div.social a:hover {
    text-decoration: none;
}

footer div.social {
    margin-top: 10px;
}
footer div.social .vekabo {
    margin-left: 10px;
}
footer div.facebook a {
    display: block;
    margin-bottom: 10px;
}

div.navbar-fixed-bottom div.row div {
    margin-bottom: -8px;
}

footer div.social div:first-child {
    margin-top: 8px;
    margin-bottom: 20px;
}

div.footer-bottom {
    z-index: 1040;
    overflow:hidden;
    position: relative;
}

.footer-mobile footer {
    padding: 10px 3px 10px 3px;
}

.sidebar h3 {
    color: #122b40;
    font-size: 1em;
    margin-left: 20px;
}
.content h3 {
    color: #122b40;
    font-size: 1.2em;
}

#map {
    height: 500px;
}
#map-nearby {
    height: 350px;
}
.no-padding-left {
    padding-left : 0px;
}

.img-responsive-150 {
    height: 150px;
}

.caravan-img img {
    width: 100%;
    margin: 10px;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}