<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minicamping Shalom</title>
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="logo pull-right col-md-2">
            <a href="#welkom" title="Minicamping Shalom">
                <img src="images/logo-shalom.png" rel="logo" title="Minicamping Shalom">
            </a>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Menu uitklappen</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-md hidden-sm hidden-xs" id="navigate-top" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse col-lg-9 col-md-10" id="bs-example-navbar-collapse-1">
            <div>
                {% block menu %}{% endblock menu %}
            </div>
        </div>
    </div>
</nav>

{% block welcome %}{% endblock welcome %}

{% block content %}{% endblock content %}

<div id="footer" class="footer navbar-fixed-bottom hidden-lg">
    <footer>
        <div class="row">
            <div class="col-xs-7">
                <p>&copy; {{ "now"|date("Y") }} - Minicamping Shalom</p>
            </div>
            <div class="col-xs-2 facebook">
                <a target="_blank" href="https://www.facebook.com/pages/Minicamping-Shalom/832816223476376" title="Minicamping Shalom op Facebook">
                    <img class="hidden-xs hidden-sm" src="images/facebook.png" class="img-responsive">
                    <img class="hidden-md hidden-lg" src="images/facebook-small.png" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-3 zoover">
                <a href="http://www.zoover.nl/nederland/zeeland/oostkapelle/minicamping-shalom/camping" title="Geef ons een review op Zoover" target="_blank">
                    <img src="images/zoover.png">
                </a>
            </div>
        </div>
    </footer>

</div>

<div class="footer navbar-fixed-bottom hidden-md hidden-sm hidden-xs">
    <footer>
        <div class="row">
            <div class="col-lg-8">
                <p>&copy; {{ "now"|date("Y") }} - Minicamping Shalom</p>
            </div>
            <div class="col-lg-2 facebook">
                <a target="_blank" href="https://www.facebook.com/pages/Minicamping-Shalom/832816223476376" title="Minicamping Shalom op Facebook">
                    <img src="images/facebook.png" class="img-responsive">
                </a>
            </div>
            <div class="col-lg-2 zoover">
                <a href="http://www.zoover.nl/nederland/zeeland/oostkapelle/minicamping-shalom/camping" title="Geef ons een review op Zoover" target="_blank">
                    <img src="images/zoover.png" class="img-responsive">
                </a>
            </div>
        </div>
    </footer>

</div>

<div id="contact" class="footer footer-bottom">
    <footer id="contact">
        <div class="row">
            <div class="col-lg-3">
                <p>&copy; {{"now"|date("Y")}} - Minicamping Shalom</p>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-xs-6">
                        <p>
                            <strong>Adres</strong><br>
                            André en Anneke de Visser<br>
                            Domburgseweg 59<br>
                            4356 NA Oostkapelle
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p>
                            <strong>Telefoon en e-mail</strong><br>
                            Tel: 0118-583259 <br>
                            E-mail: <a href="mailto:jurujovi@zeelandnet.nl">jurujovi@zeelandnet.nl</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="social hidden-md hidden-sm hidden-xs col-lg-2 facebook">
                <a target="_blank" href="https://www.facebook.com/pages/Minicamping-Shalom/832816223476376" title="Minicamping Shalom op Facebook">
                    <img src="images/facebook.png" class="img-responsive">
                </a>
                <a href="http://www.vekabo.nl" class="vekabo" target="_blank">
                    <img src="images/vekabo.png" class="img-responsive">
                </a>
            </div>
            <div class="social hidden-md hidden-sm hidden-xs col-lg-2 zoover">
                <a href="http://www.zoover.nl/nederland/zeeland/oostkapelle/minicamping-shalom/camping" title="Geef ons een review op Zoover" target="_blank">
                    <img src="images/zoover.png" class="img-responsive">
                </a>
            </div>

            <div class="container-fluid hidden-lg">
                <a class="col-xs-4" target="_blank" href="https://www.facebook.com/pages/Minicamping-Shalom/832816223476376" title="Minicamping Shalom op Facebook">
                    <img src="images/facebook.png" class="img-responsive center-block">
                </a>
                <a class="col-xs-4" href="http://www.vekabo.nl" class="vekabo" target="_blank">
                    <img src="images/vekabo.png" class="img-responsive center-block">
                </a>
                <a class="col-xs-4" href="http://www.zoover.nl/nederland/zeeland/oostkapelle/minicamping-shalom/camping" title="Geef ons een review op Zoover" target="_blank">
                    <img src="images/zoover.png" class="img-responsive center-block">
                </a>
            </div>

        </div>
    </footer>

</div>

<!-- jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlNUPhQOMPD15ppS3B1Ddr6Ae9yn6TfOw"></script>
<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>

</body>
</html>
