<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/appartement.jpg');"></div>

<div class="container content" id="fotos">

    <h2>Foto&#039;s van het appartement</h2>
    <h2 class="mobile-header hidden-md hidden-lg">Foto&#039;s van het appartement</h2>


    <div class="content thumbnail-list apartment-album">
        <a href="/images/albums/appartement_1.jpg">
            <img data-original="/images/albums/appartement_1_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

        <a href="/images/albums/appartement_5.jpg">
            <img data-original="/images/albums/appartement_5_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

        <a href="/images/albums/appartement_3.jpg">
            <img data-original="/images/albums/appartement_3_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

        <a href="/images/albums/appartement_4.jpg">
            <img data-original="/images/albums/appartement_4_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

        <a href="/images/albums/appartement_2.jpg">
            <img data-original="/images/albums/appartement_2_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

        <a href="/images/albums/appartement_6.jpg">
            <img data-original="/images/albums/appartement_6_thumb.jpg" alt="Appartement detail"
                 class="img-rounded lazy">
        </a>

    </div>
</div>

<hr>