<div class="hero parallax-window hidden-xs hidden-sm" data-stellar-background-ratio="0.5"
     style="background-image: url('/images/luchtfoto.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">Tarieven</h2>
            </div>
        </div>
    </div>
</div>
<div class="container content" id="tarieven">

    <h2 class="mobile-header hidden-md hidden-lg">Tarieven</h2>

    <p>Alle prijzen zijn inclusief BTW.</p>

    <hr>

    <table class="prices">
        {% for price in prices %}
            <tr>
                <td>{{ price.title }}</td>
                <td>{{ price.price }}</td>
                <td>{{ price.information }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

<hr>