
<header class="business-header apartment hidden-xs hidden-sm">
    <div class="container tagline-container">
        <h1 class="tagline header no-shadow">Appartement voor twee personen.</h1>
    </div>
</header>

<div class="container content" id="welkom">

    <h1 class="mobile-header hidden-md hidden-lg">Appartement voor twee personen.</h1>

    <hr>

    <div class="row head-row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero5.jpg" alt="">
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero6.jpg" alt="">
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/hero7.jpg" alt="">
        </div>
    </div>

    <hr>

    <p>Wij hebben een prachtig tweepersoons appartement te huur. Dit is het hele jaar door te huren. Het appartement is comfortabel ingericht, verwarmd door middel van vloerverwarming en voorzien van alle gemakken.
    <p>Een woonkamer met een 2-zitsbank en 2 heerlijke stoelen en een flatscreen TV. Aan de eettafel kunt u met gezellig eten en genieten van het mooie vrije uitzicht.
    <p>De keuken is voorzien van een vaatwasser en een combimagnetron, waterkoker en een Nespresso apparaat.
    <p>De badkamer heeft een inloopdouche en wasmeubel en toilet, er is een föhn aanwezig. Het badlinnen ligt daar voor u klaar.
    <p>De ruime slaapkamer is voorzien van 2 éénpersoonsbedden die opgemaakt zijn wanneer u arriveert.
    <p>Het terras is ruim met twee luxe stoelen en een tuinbank waar u kunt genieten van zon, buitenlucht en de natuur.
    <p>Het is mogelijk om met een baby te komen, er is een campingbed en kinderstoel op aanvraag te verkrijgen.
    <p>Het appartement wordt verhuurd door <a href="https://www.walcherenvakanties.com/nl/vakantiehuizen-zeeland/ok07/" target="_blank">Walcheren Vakanties</a>.

    <hr>

</div>